# Dependencies
node_modules/

# Environment Variables
.env

# Uploads
uploads/

# Logs
logs/
*.log

# Temporary Files
tmp/
temp/

# Coverage
coverage/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Runtime
*.pid
*.seed
*.pid.lock

# Optional
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*